@{
    ViewBag.Title = "NotAdmin";
}

<h3 class="message" style="margin:0 auto;">
    برای دسترسی به این بخش ابتدا باید وارد شوید
    <br />
    <br />
    <a class="btn btn-primary btn-block" href="@Url.Content("~/Accounts/Login")">وارد شوید</a>
</h3>
