@{
    ViewBag.Title = "موفقیت";
}

<h3 class="messageSucc clearfix">
    <i class="fa fa-check-circle-o fa-lg" style="color:green"></i> @ViewBag.Message
    <span style="float:left; font-family:Verdana; color:#000; border-color:#357ebd;">@ViewBag.extraInfo</span>
</h3>
