@model Blog.Models.Post

@{
    ViewBag.Title = Model.Title;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

@Html.Partial("PostPartial")
<a href="@Url.Content("~/Posts/CreateComment/"+Model.ID)">Post a Comment</a>

