@{
    ViewBag.Title = "NotAdmin";
}

<h2 style="padding:20px; background-color:#fff; border:4px groove; font-family:DastNevis;">
    برای دسترسی به این بخش ابتدا باید وارد شوید
    <a href="@Url.Content("~/Accounts/Login")">وارد شوید</a>
</h2>
