@{
    ViewBag.Title = "درباره من";
    bool isAdmin = ViewBag.IsAdmin;
}

<div class="container" >
    <div class="row aboutContainer">
        <div class="row" style="width:90%; margin:0 auto; padding:15px;">
            <div class="col-md-3 "><img class="img-responsive" src="../../Content/Images/portrait-f.png" /></div>
            <div class="col-md-9 ">
                وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند زیرا آنان با نادیده گرفتن قوانین راهنمایی و رانندگی، جان خود و دیگران را به مخاطره می اندازند.وی گفت: عوامل پلیس راه با رانندگان متخلف برخورد قانونی می کنند 
            </div>
        </div>
        <div class="row aboutSocialButtons">
            <div class="col-md-3 col-sm-3"><a href="http://facebook.com/babakmbm" target="_blank" class="btn btn-default btn-block button-orange"><i class="fa fa-facebook fa-lg"></i> فیسبوک</a></div>
            <div class="col-md-3 col-sm-3"><a href="http://twitter.com/babakmbm" target="_blank" class="btn btn-default btn-block button-orange"><i class="fa fa-twitter fa-lg"></i> توییتر</a></div>
            <div class="col-md-3 col-sm-3"><a href="http://twitter.com/babakmbm" target="_blank" class="btn btn-default btn-block button-orange"><i class="fa fa-linkedin fa-lg"></i> لینکد این</a></div>
            <div class="col-md-3 col-sm-3"><a href="https://github.com/babakmbm/BabakBlog" target="_blank" class="btn btn-default btn-block button-orange"><i class="fa fa-github fa-lg"></i> گیت هاب</a></div>
        </div>
    </div>
</div>