@{
    ViewBag.Title = "پیدا نشد";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding:20px 200px; background-color:#fff; border:4px groove; font-family:DastNevis;">
    متأسفانه موردی پیدا نشد
</h2>